.Wrapper {
    padding: 96px 20px 20px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TitleSection {
    display: grid;
    gap: 16px;

    & h2 {
        white-space: pre;
    }

    & p {
        white-space: pre-line;
    }
}

.Image {
    width: 100%;
}
