.Wrapper {
  display: flex;

  flex-grow: 1;
  overflow: hidden;

  border: 2px solid var(--color-neutral-300);
  border-left: none;
  border-right: none;

  & ul {
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
  }
}

.SubCategoryScrollRoot {
  width: 100%;
}

.MainCategoryColumn {
  border-right: 1px solid var(--color-neutral-300);
  width: 104px;
}

.SubCategoryColumn {
}

.Category {
  width: 100%;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  padding: 16px 8px;
  display: flex;
  align-items: center;

  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-neutral-300);
  }
}

.MainCategory {
  &:not([aria-selected=true]) {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-300);
  }
}

.SubCategory {

}

.Icon {
  margin-left: auto;
}