.Wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.TitleSection {
  margin-top: 60px;
}

.ImageWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image {
  width: 100%;
}