.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.TitleSection {
    margin-top: 60px;

    & h2 {
        margin-bottom: 8px;
    }
}

.ImageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & img {
        width: 100%;
    }

     & p {
         position: absolute;
         bottom: 20px;

         font-weight: 500;
         font-size: 24px;
     }
}