.Button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 8px;
    text-align: center;
    align-items: center;
}

.Variant_Filled_Primary {
    background-color: var(--color-neutral-900);
    color: var(--color-primary);
}

.Variant_Filled_Neutral {
    background-color: var(--color-neutral-200);
    color: #fff;
}

.Variant_Outline_Primary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.Variant_Outline_Neutral {
    border: 1px solid var(--color-neutral-300);
    color: var(--color-neutral-900);
}

.Variant_Ghost {

}

.Variant_Ghost_Primary {
    color: var(--color-primary);
}

.Variant_Ghost_Neutral {
    color: var(--color-neutral-900);
    background-color: transparent;
}

.Button:disabled {
    color: var(--color-neutral-300);
    background-color: var(--color-neutral-200);

    &.Variant_Ghost {
        background-color: transparent;
    }
}

.Disabled_Ghost {
    background-color: transparent !important;
}

.Size_M {
    height: 48px;
    border-radius: 48px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
}

.Size_S {
    height: 32px;
    border-radius: 40px;
    padding: 8px 12px;
}

.Size_Fit {
    padding-left: 0;
    padding-right: 0;
}


.WidthType_Fill {
    width: 100%;
}

.WidthType_Hug {
    width: fit-content;
}

.TextAlign_Left {
    text-align: left;
}

.TextAlign_Center {
    text-align: center;
}

.TextAlign_Right {
    text-align: right;
}


.PrefixSlot {

}

.SuffixSlot {

}

.Center {
    flex-grow: 1;
}
