.Flex {
    --flex-gap: 0;
    display: flex;
    gap: var(--flex-gap);
}

.Justify_Start {
    justify-content: flex-start;
}
.Justify_End {
    justify-content: flex-end;
}
.Justify_Center {
    justify-content: center;
}
.Justify_Between {
    justify-content: space-between;
}

.Align_Start {
    align-items: flex-start;
}
.Align_Center {
    align-items: center;
}

.Direction_Vertical {
    flex-direction: column;
}
.Direction_Horizontal {
    flex-direction: row;
}

.OverflowX_Auto{
    overflow-x: auto
}
.OverflowX_Hidden{
    overflow-x: hidden;
}
.OverflowX_Scroll{
    overflow-x:scroll;
}
.OverflowY_Auto{
    overflow-y:auto;
}
.OverflowY_Hidden{
    overflow-y: hidden;
}
.OverflowY_Scroll{
    overflow-y:scroll;
}