@keyframes shine {
    to {
        background-position-x: -20%;
    }
}

.Container {
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--color-neutral-10);
    display: flex;
    align-items: center;
    justify-content: center;

    &[role=button] {
        cursor: pointer;
    }

    &[data-shape=circle] {
        border-radius: 999px;
    }

    &[data-loading=true] {
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 40%,
                rgba(255, 255, 255, .5) 50%,
                rgba(255, 255, 255, 0) 60%
        ) var(--color-neutral-10);
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s shine ease-in-out infinite;
    }
}


.ActionSlot {
    position: absolute;
    top: 4px;
    right: 4px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    animation: 300ms fadeIn ease-in-out;
}

.Fallback {
    font-size: calc(var(--size) * 1px * 0.5);
}