.Grid {
    display: grid;
    gap: 32px;
    padding-bottom: 32px;
}

.GridRow {
    display: flex;
}

.Cell {
    flex-grow: 1;

    display: grid;
    gap: 8px;
    width: 100%;

    & > span {
        line-height: 24px;
    }
}

.CellHeader {
    display: flex;
    gap: 5px;
    align-items: center;
}

.CellHeaderTitle {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-neutral-600);
}

.ChipList {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 8px;

    & > * {
        flex-shrink: 0;
    }
}

.HorizontalList {
    display: flex;
    overflow-x: auto;
    gap: 8px;

    & > * {
        flex-shrink: 0;
    }
}

.Introduce {
    line-height: 150%;
    white-space: pre-wrap;
}