.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 32px;
}

.HeightInputWrapper {
  display: grid;
  gap: 8px;
}

.HeightInput{
  display: flex;
  gap: 8px;
  justify-content: stretch;
  align-items: center;

  & input {
    width: 100%
  }
}

.Error {
  font-size: 14px;
  color: var(--color-negative);
  margin-top: 8px;
}

.Description {
  font-size: 16px;
  color: var(--color-neutral-500);
  margin-bottom: 8px;
}

.StyleInputWrapper{
  display: grid;
  gap: 8px;
}

.PictureLabelContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.PictureLabelDescription {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-neutral-500);
}

.AccordionSummary {
  padding: 14px 0;

  .Suffix {
    font-weight: 400;
  }
}