.Chip {
  color: var(--color-neutral-900) !important;
  font-size: 14px;
  font-weight: 400;
}

.NonButtonChip {
  border: 1px solid var(--color-neutral-300);
  border-radius: 40px;
  padding: 8px 12px;
  user-select: none;
}