.Container {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.Image {
    height: 128px;
    width: 100%;
    object-fit: cover;
}

.TopRightSlot {
    position: absolute;
    top: 8px;
    right: 8px;

    svg {
        color: var(--color-neutral-0);
    }
}

.Name {
    color: var(--color-neutral-900);
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    padding: 0 8px;
    line-height: 100%;
}

.InfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.InfoRow {
    display: flex;
    align-items: center;
    padding: 0 8px;
    line-height: 100%;

    & .Icon {
        margin-right: 4px;
    }

    & > span {
        color: var(--color-neutral-700);
        font-size: 12px;
        font-weight: 400;
    }

    & > span:not(:last-child) {
        &::after {
            content: '|';
            margin: 0 2px;
            color: var(--color-neutral-400);
        }
    }
}