.Container {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    overflow: hidden;

    background-color: var(--color-neutral-100);
}

.StatusChip {
    z-index: 1;

    position: absolute;
    top: 8px;
    left: 8px;

    background-color: var(--color-primary);
    border-radius: 32px;
    padding: 3px 6px;
    color: var(--color-neutral-0);
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
}

.ImageWrapper {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.Image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.TopRightSlot {
    position: absolute;
    top: 8px;
    right: 8px;

    svg {
        color: var(--color-neutral-0);
    }
}

.ContentWrapper {
    display: flex;
    flex-direction:  column;
    gap: 8px;
    padding: 8px;
    width: 100%;
}

.Name {
    color: var(--color-neutral-900);
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    line-height: 100%;
}

.InfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.InfoRow {
    display: flex;
    align-items: center;
    line-height: 100%;

    & .Icon {
        margin-right: 4px;
    }

    & > span {
        color: var(--color-neutral-700);
        font-size: 12px;
        font-weight: 400;
    }

    & > span:not(:last-child) {
        &::after {
            content: '|';
            margin: 0 2px;
            color: var(--color-neutral-400);
        }
    }
}