.Container {
    border-bottom: 1px solid var(--color-neutral-300);
    padding: 12px 0;
    display: flex;
}

.Container:focus-within {
    border-color: var(--color-neutral-900);
}

.Input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-neutral-900);

    &::placeholder {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: var(--color-neutral-300);
    }
}

.SuffixSlotContainer {
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-neutral-900);

    display: flex;
    align-items: center;
}