.Label {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 0;
    color: var(--color-neutral-90);
    width: 100%;
}

.Radio {
    appearance: none;
    display: none;
}
