.Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 6px;
    list-style: none;
    padding: 0 8px 70px;
    margin: 0 -20px;

    width: calc(100% + 40px);
    overflow: hidden;
}

.EmptyCardWrapper {
    height: calc(min(50vw - 12px, 230px) + 74px);
}

.EmptyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 48px;
        height: 48px;
    }

    .Description {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: var(--color-neutral-300);
    }
}
