.Slider {
    width: 100%;
    background-color: var(--color-neutral-300);
    border-radius: 0;
    height: 4px;

    & > :last-child {
        background-color: var(--color-neutral-900);
    }

    & > [role="slider"] {
        width: 16px;
        height: 16px;
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}

.LabelContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    & > span {
        font-weight: 600;
        font-size: 14px;
    }
}