.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.Description {
  color: var(--color-neutral-400);
  margin-bottom: 12px;
  display: block;
}

.ChipWrapper {
  display: flex;
  overflow-x: auto;
  gap: 12px;

  flex-shrink: 0;

  & > * {
    flex-shrink: 0;
  }
}
