.Button {
  border: none;
  outline: none;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-weight: 500;
  font-size: 16px;

  cursor: pointer;

  &:disabled {
    background: var(--color-neutral-200);
    color: var(--color-neutral-300);

    .ButtonIconWrapper {
      opacity: 0.6;
      color: var(--color-neutral-900);
    }
  }
}

.ButtonIconWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
