.Dim {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(12,11,13, 0.5);
}

.DimButtonWrapper {
  max-width: 480px;
  margin: auto;
  padding-bottom: 16px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  gap: 16px;

  height: 100%;
}

.FloatingButtonWithText {
  padding: 0;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: transparent;
  border: none;
  color: white;

  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.FloatingButtonNeutral {
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
}

.Icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  border: none;

  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &[data-neutral=true] {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.Container {
  display: grid;
  gap: 32px;
  margin-bottom: 86px;
}

.TitleSection {
  & > h2 {
    margin-bottom: 8px;
  }
}

.Description {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: var(--color-neutral-500);
}

.ButtonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 120px;
  gap: 8px;
}

.LinkIcon {
  &[data-disabled='true'] path {
    stroke: var(--color-neutral-300) !important;
  }
}

.LinkConfigSection {
  display: grid;
  gap: 16px;

  & > h3 {
    font-weight: 600;
    font-size: 16px;
  }
}

.LinkConfig {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-neutral-500);
  }

  & strong {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-neutral-900);
  }
}