:root {
    --color-primary: #d752ff;
    --color-positive: #3bb5a3;
    --color-negative: #f35b5b;
    --color-neutral-90: #121113;
    --color-neutral-80: #333036;
    --color-neutral-70: #534e55;
    --color-neutral-60: #726d74;
    --color-neutral-50: #918b92;
    --color-neutral-40: #afaab1;
    --color-neutral-30: #cdcace;
    --color-neutral-20: #ebeaeb;
    --color-neutral-10: #f5f5f5;

    --z-index-bottomsheet: 10;
    --z-index-input-bottomsheet: 10;
    --z-index-select: 20;
    --z-index-image-modal: 30;
}