:root {
    --color-primary: #d752ff;
    --color-positive: #3bb5a3;
    --color-negative: #f35b5b;
    --color-neutral-900: #121113;
    --color-neutral-800: #333036;
    --color-neutral-700: #534e55;
    --color-neutral-600: #726d74;
    --color-neutral-500: #918b92;
    --color-neutral-400: #afaab1;
    --color-neutral-300: #cdcace;
    --color-neutral-200: #ebeaeb;
    --color-neutral-100: #f5f5f5;
    --color-neutral-0: #fff;

    --z-index-bottomsheet: 10;
    --z-index-input-bottomsheet: 10;
    --z-index-select: 20;
    --z-index-image-modal: 30;
}