.Container {
    padding: 12px 20px;
    width: 100%;

    > div:last-child {
        width: 100%;
        > div {
            width: 100%;
        }
    }
}

.Name {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;

    font-size: 16px;
    font-weight: 600;
}

.Badge {
    border: 1px solid var(--color-primary);
    border-radius: 24px;
    padding: 6px 8px;

    font-size: 12px;
    font-weight: 600;
    color: var(--color-primary);
}