.Header {
    height: 44px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;

    & h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
}

.UserInfoWrapper {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 0 20px;
    margin: 24px 0;
    user-select: none;

    & > div {
        position: relative;

        & .LoginMethod {
            box-sizing: content-box;
            position: absolute;
            right: -2px;
            bottom: -2px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px var(--color-neutral-0) solid;

            & img {
                width: 16px;
                height: 16px;
            }
        }
    }

    & .UserInfoNameWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .Email {
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            color: var(--color-neutral-600);
        }
    }

    & h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }
}

.UserInfoMoreButton {
    margin-left: auto;
    color: var(--color-neutral-500);
}

.Label {
    padding: 0 20px;
    margin-bottom: 8px;
}

.Divider {
    background-color: var(--color-neutral-100);
    height: 10px;
    border: none;
    padding: 0;
    margin: 0 0 24px;
}

.MenuList{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ButtonWrapper {
    padding: 0 4px;

    & a {
        text-decoration: none;
    }
}

.SmallButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 20px;
}

.SmallButton {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-neutral-700) !important;

    display: block;
}