.Container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.Body {
    flex-grow: 1;
}

.Footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.EmailInput {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    & .Input {
        flex: 1;
    }

    & .Button {
        height: 40px;
        font-size: 14px;
        font-weight: 600;
    }
}

.InputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Error {
    color: #ff4245;
    font-size: 14px;
    font-weight: 500;
}

.Timer {
    color: var(--color-primary);
    width: 48px;
}

.ShowLaterButton {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-neutral-600);
}