.Section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.ChipWrapper {
    display: flex;
    overflow-x: auto;
    gap: 12px;

    height: 32px;

    flex-shrink: 0;

    & > * {
        flex-shrink: 0;
    }
}

.Wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    border: 2px solid var(--color-neutral-30);
    border-left: none;
    border-right: none;

    & ul {
        list-style: none;
        padding-left: 0;
    }
}
