.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.TitleSection {
  margin-bottom: 30px;
}

.FormCount {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-neutral-40);
}

.Description {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-neutral-50);

  & strong {
    font-size: 14px;
  }
}

.Main {
  flex-grow: 1;
  overflow-y: auto;
}

.Footer {
  margin-top: auto;
  padding-top: 24px;
}

.InnerHeader {
  padding-left: 0;
  padding-right: 0;
}
