.Comment {
  border-radius: 0 8px 8px 8px;
  padding: 8px;
  margin-left: -1px;
  background-color: var(--color-neutral-0);

  font-size: 13px;
  width: 100%;
}

.CommentContainer {
  width: 100%;
  flex-grow: 1;

  >div {
    width: 100%;
  }

  & svg {
    color: var(--color-neutral-0);
  }

  &[data-theme='gray'] {
    .Comment {
      background-color: var(--color-neutral-100);
      color: var(--color-neutral-700);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & svg {
      color: var(--color-neutral-100);
    }
  }

  .EditButton {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;

    background-color: transparent;
    cursor: pointer;

    svg {
      color: var(--color-neutral-300);
    }
  }
}

.CreatorName {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-neutral-900);
  line-height: 100%;
}

.Container {
  width: 100%;
}