.FloatingButton {
    position: absolute;
    bottom: 16px;
    right: 20px;
    background-color: var(--color-primary);
    border-radius: 40px;
    border: none;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;

    color: white;

    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;

    z-index: 1;

    &[data-shape='circle'] {
        padding: 16px;
    }
}
