.Wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.Header {
    position: absolute;
    top: 0;
    width: 100%;
}

.HeaderIconSection {
    display: flex;
    gap: 4px;
    justify-content: end;
}

.HeaderSuffix {
    color: var(--color-neutral-0);
}

.Body {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.Name {
    font-size: 24px;
    font-weight: 600;
    margin: 24px 0;
    padding: 0 20px;
}

.ContentWrapper {
    padding: 20px 20px 0;
}