.Sheet {
    z-index: var(--z-index-bottomsheet) !important;
}

.Container {
    max-width: 480px;
    left: calc(50% - min(240px, 50%)) !important;
}

.Header {
    padding: 10px 20px 0;
}

.CloseButton {
    margin-left: auto;
}

.Content {
    padding: 0 20px 14px;
}

.Footer {
    margin-top: auto;
    padding-top: 32px;
}