.Container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.UserAvatar {
    position: relative;

    & .ImageUploadTrigger {
        cursor: pointer;
        background-color: var(--color-neutral-200);
        width: 32px;
        height: 32px;
        display: flex;
        padding-top: 1px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.UserInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .InfoRow {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .Label {
            font-size: 14px;
            font-weight: 600;
            color: var(--color-neutral-600);
        }

        .Value {
            border-bottom: 1px solid var(--color-neutral-300);
            padding: 12px 0;
            display: flex;
            justify-content: space-between;

            & span {
                line-height: 12px;
                font-weight: 500;
                align-self: center;
            }

            .Gray {
                color: var(--color-neutral-400);
            }

            .Primary {
                color: var(--color-primary);
            }
        }
    }
}