.Header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-0);
  z-index: 2;
  position: relative;
}

.CloseButton {
  margin-left: auto;
}

.Suffix {
  margin-left: auto;
}

.Content {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
}

.Prefix {
  margin-right: auto;
}