.Header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-neutral-0);
  z-index: 2;
  position: relative;
}

.CloseButton {
  margin-left: auto;
}

.Suffix {
  margin-left: auto;
}

.Content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 18px;

  display: flex;
  align-items: center;
}

.Prefix {
  margin-right: auto;
}