.Container {
    position: relative;
    background: var(--color-neutral-100);
    border-radius: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Header {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 56px;
}

.HeaderRightSlot {
    position: absolute;
    top: 12px;
    right: 12px;
}

.ProfileImageContainer {
    width: 56px;
    height: 56px;
}

.InfoSummaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 12px;

    .NameContainer {
        display: flex;
        gap: 4px;
        align-items: center;

        .Name {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            margin: 0;
        }

        .StatusChip {
            background-color: var(--color-primary);
            border-radius: 32px;
            padding: 3px 6px;
            color: var(--color-neutral-0);
            font-size: 12px;
            font-weight: 500;
            line-height: 100%;
        }
    }


    .Info {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;

        span:not(:last-child)::after {
            content: '';
            border-right: 1px solid var(--color-neutral-300);
            padding-left: 8px;
            margin-right: 8px;
        }
    }
}

.DetailTableContainer {
    background: var(--color-neutral-0);
    border-radius: 16px;
    padding: 16px;
}

.DetailTable {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 15px;
    margin: -15px;

    & tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 20px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.DetailTable th {
    color: var(--color-neutral-700);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    align-content: center;

    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 8px;
}

.DetailTable td {
    color: var(--color-neutral-800);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    align-content: center;
    text-align: left;
    flex: 1;
}

.HobbyList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;

    & > div {
        padding: 4px 10px !important;
    }

    & > span {
        font-size: 14px;
        font-weight: 500;
    }
}