.Container {
  height: 100%;
}

.AgeInputWrapper {
  display: flex;
  gap: 8px;
  justify-content: stretch;
  align-items: center;

  & input {
    width: 100%
  }
}

.RadioSuffix {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
}

.AgeDetailWrapper {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .Error {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-negative);
  }
}