.Wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Viewport {
    padding: 20px;
}

.Empty {
    margin-top: 134px;

    p {
        color: var(--color-neutral-700);
    }
}

.List {
    display: flex;
    flex-direction: column;
    gap: 8px;
}