.FloatingButton {
    outline: none;
    border: none;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--color-neutral-20);

    position: absolute;
    right: 20px;
    bottom: 16px;

    cursor: pointer;
}

.Header {
    display: flex;
    width:  100%;
    padding: 20px 20px 0;
}

.CloseButton {
    margin-left: auto;
}

.MenuButton {
    font-size: 16px;
    font-weight: 500;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.Content {
    padding: 8px 20px 0;
    height: 100%;
}

.MenuWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.MenuSectionTitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--color-neutral-60);
}

.MenuSection {
    flex-grow: 1;
    overflow: hidden;
}

.FormWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.FormHeader {
    margin-bottom: 30px;
}

.Description {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-neutral-50);

    & strong {
        font-size: 14px;
    }
}

.FormMain {
    flex-grow: 1;
    overflow-y: auto;
}

.FormFooter {
    margin-top: 8px;
    margin-bottom: 52px;
}