.Body {
    position: relative;

    & h2 {
        margin-top: 96px;
    }

    & img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
    }
}

.Footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}