.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.Body {
    padding: 16px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    & h2 {
        margin-bottom: 24px;
    }
}
