.ChipWrapper {
    display: flex;
    overflow-x: auto;
    gap: 12px;

    height: 32px;
    margin-bottom: 16px;

    & > * {
        flex-shrink: 0;
    }
}

.Wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    border: 2px solid var(--color-neutral-30);
    border-left: none;
    border-right: none;

    & ul {
        list-style: none;
        padding-left: 0;
    }
}
