.Section {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.Description {
    color: var(--color-neutral-400);
    display: block;
    margin-bottom: 12px;
}

.Chip {
    color: var(--color-neutral-500) !important;
    padding: 5px 9px;
}

.ChipWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    flex-shrink: 0;

    & > * {
        flex-shrink: 0;
    }
}

.Wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    border: 2px solid var(--color-neutral-300);
    border-left: none;
    border-right: none;

    & ul {
        list-style: none;
        padding-left: 0;
    }
}
