.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.TitleSection {
  margin-bottom: 30px;
}

.Description {
  display: block;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-neutral-50);

  & strong {
    font-size: 14px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Legend {
  margin-bottom: 8px;
}

.InputGroup {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.InputItem {
  flex-grow: 1;
}

.AgeInfo {
  width: 64px;
  font-weight: 600;
}

.FooterButton {
  margin-top: auto;
}