.Wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.TitleSection {
    margin-bottom: 20px;

    & h2 {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    & small {
        font-size: 14px;
        color: var(--color-neutral-50);
    }
}

.ContentSection {
    flex-grow: 1;
    overflow: hidden;
}

.ContentViewport {
    padding-top: 20px;
}

.Footer {
    padding-top: 24px;
}