.Wrapper {
    padding: 12px 0;


    &[data-background='true'] {
        & .CheckBox {
            & + label::before {
                background-color: var(--color-neutral-300);
            }

            &:checked + label::before {
                content: '';

                border-color: var(--color-primary);
                background-color: var(--color-primary);
            }
        }

        & .CheckMark {
            color: var(--color-neutral-0);
            top: 1px;
            left: 1px;
            width: 16px;
            height: 16px;
        }
    }

    &[data-background='false'] {
        & .CheckMark {
            color: var(--color-neutral-300);
        }

        &[data-checked='true'] {
            & .CheckMark {
                color: var(--color-primary);
            }
        }
    }
}

.Label {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: var(--color-neutral-900);
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;
}

.CheckMark {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.CheckBox {
    display: none;

    & + label::before {
         content: '';
         display: inline-flex;
         justify-content: center;
         align-items: center;
         width: 18px;
         height: 18px;
         border-radius: 50%;
     }

}

.CheckBox:checked ~ .CheckMark {
    display: block;
}